MAL_CLIENT_ID=YOUR_MYANIMELIST_CLIENT_ID
MAL_CLIENT_SECRET=YOUR_MYANIMELIST_CLIENT_SECRET

# Database configuration (Use InfinityFree values here when deploying)
DB_HOST=localhost
DB_USER=root
DB_PASS=
DB_NAME=anilogue_db